<div class="modal-card">
    <h2>Please enter room password:</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="submitPassword(passwordForm)">
        <div class="form-row">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password-input" formControlName="password">
        </div>
        <div class="form-row">
            <button>Login</button>
        </div>
        <div *ngIf="passwordFailed" class="form-row">
            <h2 class="failure">Incorrect/invalid password</h2>
        </div>
    </form>
</div>