<div id="app-container">
    <div id="message-log">
        <h3>Chat:</h3>
        <app-chat-message *ngFor="let msg of chatMessages;" [messageBuffer]="msg"></app-chat-message>
    </div>
    <div id="chat-form-container">
        <form [formGroup]="chatForm" (ngSubmit)="sendMessage(chatForm)">
            <input type="text" name="message" id="message-input" formControlName="message">
            <button>Send</button>
        </form>
        <h3 id="chat-error-message" *ngIf="chatError">ERROR! Message not sent!</h3>
    </div>
    
</div>