<div (window:beforeunload)="appUnload()" id="app-container">
    <app-modal *ngIf="modalActiveState | async" [state]="getStateService()"></app-modal>
    <app-login *ngIf="!(loggedInBool | async)" [state]="getStateService()"></app-login>
    <app-chat-rooms *ngIf="loggedInBool | async" [state]="getStateService()"></app-chat-rooms>
    <app-chat-log *ngIf="loggedInBool | async" [state]="getStateService()"></app-chat-log>
    <app-state-display  [state]="getStateService()"></app-state-display>
</div>