<div id="chat-rooms-container">
    <div *ngIf="getCurrentRoom() == undefined"> <!-- inactive room -->
        <h3>Rooms:</h3>
        <div *ngFor="let room of getRoomsList();" (click)="joinRoom(room)" class="chat-room-listing">{{room.getName()}} {{room.getUsers().length}}/{{room.getCapacity()}}</div>
    </div>
    <div *ngIf="getCurrentRoom() != undefined">
        <div id="leave-room-button" (click)="leaveRoom()">Leave</div>
        <h3>{{getCurrentRoom().getName()}}</h3>
        <div *ngFor="let user of getUsersInCurrentRoom()">{{user.getName()}}</div>
    </div>
</div>